.education {
    grid-area: div6;
}


.education__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.education__block {
    width: 116px;
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}


.education__block--main {
    background-color: #28D979;
    color: #fff;
}


.education__block--main .education__block-tags {
    color: #fff;
}


.education__block--main img{
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 11px;
}


.education__block-year {
    line-height: 15px;
    margin-bottom: 8px;
    font-size: 10px;
    font-weight: 500;
}


.education__block--main .education__block-year {
    width: calc(100% - 12px);
}


.education__block-name {
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
    overflow-wrap: break-word;
}


.education__block-tags {
    line-height: 12px;
    font-size: 8px;
    color: #149063;
    margin-bottom: 8px;
    overflow-wrap: break-word;
}


.education__block-place {
    line-height: 12px;
    font-size: 8px;
    width: 100px;
    overflow-wrap: break-word;
}