.interests {
    grid-area: div7;
}


.interests__content {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}


.interests__element {
    max-width: 243px;
    line-height: 15px;
    padding: 4px 10px;
    overflow-wrap: break-word;
    border-radius: 40px;
    font-size: 10px;
    background-color: #fff;
}