.mail {
    grid-area: div8;
    background-color: #000;
}


.mail .title {
    margin-bottom: 11px;
}


.mail__content {
    line-height: 15px;
    max-width: 243px;
    overflow-wrap: break-word;
    font-size: 10px;
    color: #fff;
}