.me { 
    grid-area: div2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
}


.me__greetings {
    font-size: 10px;
    line-height: 15px;
}


.me__name {
    line-height: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
}


.me__frontend {
    font-size: 12px;
    font-weight: 500;
    color: #5C5C5C;
    line-height: 18px;
}